.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 88.57143%;
  max-width: 1400px; }
  @media screen and (max-width: 1020px) {
    .grid {
      width: 88.23529%; } }
  @media screen and (max-width: 520px) {
    .grid {
      width: 87.69231%; } }

.col-desk-0 {
  width: 0%;
  padding: 0 1.6129%; }

.col-desk-shift-0 {
  margin-left: 0%; }

.col-desk-1 {
  width: 8.33333%;
  padding: 0 1.6129%; }

.col-desk-shift-1 {
  margin-left: 8.33333%; }

.col-desk-2 {
  width: 16.66667%;
  padding: 0 1.6129%; }

.col-desk-shift-2 {
  margin-left: 16.66667%; }

.col-desk-3 {
  width: 25%;
  padding: 0 1.6129%; }

.col-desk-shift-3 {
  margin-left: 25%; }

.col-desk-4 {
  width: 33.33333%;
  padding: 0 1.6129%; }

.col-desk-shift-4 {
  margin-left: 33.33333%; }

.col-desk-5 {
  width: 41.66667%;
  padding: 0 1.6129%; }

.col-desk-shift-5 {
  margin-left: 41.66667%; }

.col-desk-6 {
  width: 50%;
  padding: 0 1.6129%; }

.col-desk-shift-6 {
  margin-left: 50%; }

.col-desk-7 {
  width: 58.33333%;
  padding: 0 1.6129%; }

.col-desk-shift-7 {
  margin-left: 58.33333%; }

.col-desk-8 {
  width: 66.66667%;
  padding: 0 1.6129%; }

.col-desk-shift-8 {
  margin-left: 66.66667%; }

.col-desk-9 {
  width: 75%;
  padding: 0 1.6129%; }

.col-desk-shift-9 {
  margin-left: 75%; }

.col-desk-10 {
  width: 83.33333%;
  padding: 0 1.6129%; }

.col-desk-shift-10 {
  margin-left: 83.33333%; }

.col-desk-11 {
  width: 91.66667%;
  padding: 0 1.6129%; }

.col-desk-shift-11 {
  margin-left: 91.66667%; }

.col-desk-12 {
  width: 100%;
  padding: 0 1.6129%; }

.col-desk-shift-12 {
  margin-left: 100%; }

@media screen and (max-width: 1020px) {
  .col-tab-0 {
    width: 0%;
    padding: 0 1.66667%; }
  .col-tab-shift-0 {
    margin-left: 0%; }
  .col-tab-1 {
    width: 8.33333%;
    padding: 0 1.66667%; }
  .col-tab-shift-1 {
    margin-left: 8.33333%; }
  .col-tab-2 {
    width: 16.66667%;
    padding: 0 1.66667%; }
  .col-tab-shift-2 {
    margin-left: 16.66667%; }
  .col-tab-3 {
    width: 25%;
    padding: 0 1.66667%; }
  .col-tab-shift-3 {
    margin-left: 25%; }
  .col-tab-4 {
    width: 33.33333%;
    padding: 0 1.66667%; }
  .col-tab-shift-4 {
    margin-left: 33.33333%; }
  .col-tab-5 {
    width: 41.66667%;
    padding: 0 1.66667%; }
  .col-tab-shift-5 {
    margin-left: 41.66667%; }
  .col-tab-6 {
    width: 50%;
    padding: 0 1.66667%; }
  .col-tab-shift-6 {
    margin-left: 50%; }
  .col-tab-7 {
    width: 58.33333%;
    padding: 0 1.66667%; }
  .col-tab-shift-7 {
    margin-left: 58.33333%; }
  .col-tab-8 {
    width: 66.66667%;
    padding: 0 1.66667%; }
  .col-tab-shift-8 {
    margin-left: 66.66667%; }
  .col-tab-9 {
    width: 75%;
    padding: 0 1.66667%; }
  .col-tab-shift-9 {
    margin-left: 75%; }
  .col-tab-10 {
    width: 83.33333%;
    padding: 0 1.66667%; }
  .col-tab-shift-10 {
    margin-left: 83.33333%; }
  .col-tab-11 {
    width: 91.66667%;
    padding: 0 1.66667%; }
  .col-tab-shift-11 {
    margin-left: 91.66667%; }
  .col-tab-12 {
    width: 100%;
    padding: 0 1.66667%; }
  .col-tab-shift-12 {
    margin-left: 100%; } }

@media screen and (max-width: 520px) {
  .col-mob-0 {
    width: 0%;
    padding: 0 2.19298%; }
  .col-mob-shift-0 {
    margin-left: 0%; }
  .col-mob-1 {
    width: 25%;
    padding: 0 2.19298%; }
  .col-mob-shift-1 {
    margin-left: 25%; }
  .col-mob-2 {
    width: 50%;
    padding: 0 2.19298%; }
  .col-mob-shift-2 {
    margin-left: 50%; }
  .col-mob-3 {
    width: 75%;
    padding: 0 2.19298%; }
  .col-mob-shift-3 {
    margin-left: 75%; }
  .col-mob-4 {
    width: 100%;
    padding: 0 2.19298%; }
  .col-mob-shift-4 {
    margin-left: 100%; } }
