@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #b444ff; }

::selection {
  background: #b444ff; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto Mono", monospace; }

p {
  max-width: 640px;
  margin-bottom: 2rem; }

.header {
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .header__title {
    text-transform: uppercase;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .header__title h1 {
      margin: 1rem 0; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media screen and (max-width: 1020px) {
      .header__menu {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    .header__menu__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 2rem 0 2rem;
      padding: 0;
      list-style-type: none; }
      .header__menu__item li {
        margin-right: 28px; }
        .header__menu__item li:last-child {
          margin-right: 0; }
        .header__menu__item li a {
          color: black;
          text-transform: uppercase;
          -webkit-transition: all 0.16s ease;
          -o-transition: all 0.16s ease;
          transition: all 0.16s ease; }
          .header__menu__item li a:hover {
            color: #f45; }

.g-c {
  height: 112px; }

.about-section {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .about-section h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 24px; }
  .about-section__option {
    margin-bottom: 20px; }
    .about-section__option h3 {
      padding-right: 16px;
      margin-bottom: 24px; }
    .about-section__option p {
      padding-right: 16px;
      font-size: 0.9rem;
      line-height: 160%; }

.switcher-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem; }
  .switcher-wrap__text {
    margin-right: 16px;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.4; }

.switcher {
  cursor: pointer;
  position: relative;
  width: 70px;
  border-radius: 100px;
  border: 3px solid #ff4343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  -webkit-transition: all 0.16s ease;
  -o-transition: all 0.16s ease;
  transition: all 0.16s ease; }
  .switcher_on {
    border: 3px solid #00d181; }
  .switcher:hover {
    background: rgba(255, 230, 0, 0.3); }
  .switcher__thumb {
    width: 18px;
    height: 18px;
    background: #333;
    border-radius: 100px;
    -webkit-transition: all 0.16s ease;
    -o-transition: all 0.16s ease;
    transition: all 0.16s ease; }
    .switcher__thumb_on {
      -webkit-transform: translateX(38px);
      -ms-transform: translateX(38px);
      transform: translateX(38px); }

.html-preview {
  margin-bottom: 2rem;
  border-radius: 8px;
  display: none; }

.inline-code {
  background: #333;
  padding: 0.6rem 1rem !important; }

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .footer p {
    max-width: 100%;
    text-align: right;
    font-size: 14px;
    opacity: 0.7; }
